
extends ../_template

block variables
  - var title = 'Блог'
block content
  section.section.blog
      .intro.blog-intro
        .intro__pic
          img.user__pic-img(src=require("../img/ava.png"), alt="")
        .section-title.intro__title Блог
        .intro__comment Статьи из макета
      .triangle
        .triangle__wrapper 
          .triangle__item
            svg.svg-triangle.svg-triangle-blog(viewBox="0 0 200 100" preserveAspectRatio="none")
              polygon(points="0, 0 200, 100 0, 100")
          .triangle__item
            svg.svg-triangle.svg-triangle-blog(viewBox="0 0 200 100" preserveAspectRatio="none")
              polygon(points="0, 100 200, 0 200, 100")
  section.section.blog__content
    .maincontent
      .blog__view
        aside.blog__content-menu
          ul.article__list
            li.article__list-item.article__list-item-active Самое важное в SASS
            li.article__list-item Проблемы в верстке без которых не обходится ни один сайт
        .blog__content-view
          ul.content__view-list
            li.content__view__list-item
              .article__title Самое важное в SASS
              .article__date 24 ноября 2018
              .article__text.
                Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
              
    include ../common/footer.pug              