.welcome {
    background-image: url('../img/forest.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
}

.auth-button {
    width: 180px;
    height: 45px;
    border: 2px solid #fff;    
    border-radius: 100px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;    
    background: rgba(#000, 0);    
    color: #fff;
    cursor: pointer;
    outline: none;    
}

.auth-button__welcome {
    position: absolute;
    top: 20px;
    right: 20px;    
}

.welcome-block {
    position: absolute;
    width: 380px;
    height: 400px;
    background: rgba(#2c4433, .6);
    top: 50%;
    left: 50%;    
    transform: translate(-50%, -50%);
    text-align: center;    
    border-radius: 2%;
}

.user {
    opacity: 1;
}

.user-welcome {
    margin-top: 40px;
    display: inline-block;
}

.social__welcome {
    margin-top: 37px;
    margin-left: 50%;
    transform: translate(-50%);
}

.buttons__welcome {
    margin-top: 40px;
}

.buttons {
    display: flex;
}

.button__item-logon {
    width: 50%;
}

.button__item-welcome {
    width: 33%;
}

.buttons__item {
    height: 44px;
    background: #618f54;
    align-items: center;    
    justify-content: center;
    display: flex;
    color: #fff;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;

    &:hover {
        background: #477c37;
    }
}

.footer-welcome-text {
    font-weight: 400;
    position: absolute;
    bottom: 44px;
    left: 50%;
    transform: translate(-50%);
}

.auth-block__welcome {
    top: 0;
    left: 0;
    transform: translate(0,0);
}

.auth-block__title {
    margin-top: 25px;
    color: #fff;
    &:after {
        background: #fff;
    }
}

.auth-login-pass {
    &:before {
        content:"";
        width: 45px;
        height: 45px;
        background: red;
    }
}

.auth-edit {
    border-radius: 100px;
    border: 0;
    width: 340px;
    height: 45px;
    margin-top: 20px;
    outline: none;
    font-family: 'Roboto';
    color: #373e42;
    font-weight: 400;
    padding-left: 65px;
}

.auth-block__title {
    margin-bottom: 60px;
}

.ishuman-block-text {
    font-family: 'Robot';
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
}

.captcha {
    margin-top: 21px;
}

.ishuman-block {
    display: flex;
    justify-content: center;
}

.areYouHuman-text {
    font-family: 'Robot';
    color: #fff;
    font-size: 16px;
    font-weight: 700;   
    margin-top: 25px;
}

.captcha-radio, .areYouHuman-select {
    display: flex;
    justify-content: center;
}

.areYouHuman-select {
    margin-top: 14px;
}

.captcha__radio-text {
    color: #fff;
    margin-left: 10px;
}


.captcha-radio:nth-child(2) {
    margin-left: 50px;
}