.welcome {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    cursor: pointer;    
}

.background {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
    left: 0;
    overflow: hidden;
}

.background:after {
	content: '';
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(135deg, rgba(0, 0, 0, 0.5), transparent 50%, rgba(0, 0, 0, 0.5));
}


.auth-button {
    width: 180px;
    height: 45px;
    border: 2px solid #fff;    
    border-radius: 100px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;    
    background: rgba(#000, 0);    
    color: #fff;
    cursor: pointer;
    outline: none;    
}

.auth-button__welcome {
    position: absolute;
    top: 20px;
    right: 20px;    
}

.flip__card {
   // position: relative;
   height: 400px;
}

.welcome-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 380px;
    height: 400px;
    background: rgba(#2c4433, .6);
    //top: 50%;
    //left: 50%;    
    //transform: translate(-50%, -50%);
    text-align: center;    
    border-radius: 2%;
    backface-visibility: hidden;    
}

.user {
    opacity: 1;
}

.user-welcome {
    margin-top: 40px;
    display: inline-block;
}

.social__welcome {
    margin-top: 37px;
    margin-left: 50%;
    transform: translate(-50%);
}

.buttons__welcome {
    position: absolute; 
    bottom: 0;
    width: 100%;
}

.buttons {
    display: flex;
}

.button__item-logon {
    width: 50%;
}

.button__item-welcome {
    width: 33.33%;
}

.buttons__item {
    height: 44px;
    background: #618f54;
    align-items: center;    
    justify-content: center;
    display: flex;

    &:hover {
        background: #477c37;
    }
}

.auth-button__link {
    color: #fff;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}


.footer-welcome-text {
    font-weight: 400;
    position: absolute;
    bottom: 44px;
    left: 50%;
    transform: translate(-50%);
}

// .auth-block__welcome {
//      top: 0;
//      left: 0;
// //     transform: translate(0,0);
// }

.auth-block__title {
    margin-top: 25px;
    color: #fff;
    &:after {
        background: #fff;
    }
}

.auth-block__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.auth__field-pic {
    background: #f0efe9;
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth__field-img {
    width: 17px;
    height: 17px;
}

.auth-login-pass {
    width: 80%;
}

.auth__field {
    border-radius: 100px;
    overflow: hidden;
    height: 45px;
    margin-top: 20px; 
    display: flex;   
}

.auth-edit {
    border: 0;
    width: 85%;
    height: 45px;
    outline: none;
    font-family: 'Roboto';
    color: #373e42;
    font-weight: 400;
    padding-left: 15px;
}

.auth-block__title {
    margin-bottom: 42px;
}


.captcha {
    margin-top: 21px;
}

// .ishuman-block {
//     display: flex;
//     justify-content: center;
// }

.areYouHuman-text {
    font-family: 'Robot';
    color: #fff;
    font-size: 16px;
    font-weight: 700;   
    margin-top: 25px;
}

.captcha-radio, .areYouHuman-select {
    display: flex;
    justify-content: center;
}

.areYouHuman-select {
    margin-top: 14px;
}

.captcha__radio-text {
    color: #fff;
}


.captcha-radio:nth-child(2) {
    margin-left: 50px;
}

.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox-text {
    color: #fff;
}


.checkbox-input {
    display: none;
}

.checkbox__styled, .radio__styled {
    border-radius: 3px;
    background: #6c9c5a;
    height: 20px;
    width: 20px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.svg__checked {
    fill: #fff;
    height: 13px;
    width: 13px;
    display: none;
}

.checkbox-input:checked + .checkbox__styled .svg__checked{
   display: block;
}

.auth-block__human-question {
    display: none;
}

.radio__styled {
    border-radius: 50%;
    background: #fff;
    &:before {
        width: 8px;
        height: 8px;
        content: "";
        border-radius: 50%;
        background: #6c9c5a;
        position: absolute;
        display: none;
    }
}

.auth-block__human-question:checked + .radio__styled:before {
    display: block;
}

.auth-block__human-question:checked ~ .captcha__radio-text {
    color: #6c9c5a;
}



