extends ../_template

block variables
  - var title = 'Welcome'
block content
  section.welcome
    .background
      canvas.Background-canvas
    button.auth-button.auth-button__welcome(type="button") Авторизоваться
    .flip__container    
      .flip__card
        .welcome-block.front
          .user.user-welcome
            .user__pic
                img.user__pic-img(src=require("../img/ava.png"), alt="")
            .user__description
                .user__name Петя Отверткин
                .user__info Личный сайт разработчика
            ul.socials.social__welcome
              - var socials = ['vk', 'github', 'in']
              each social in socials
                li.social__item
                  a.social__link(href="", class=`social__link-${social}`)
                    svg(class="social-pic")
                      use(xlink:href=require(`../img/sprite/${social}.svg`).url)                   
          ul.buttons.buttons__welcome
            li.buttons__item.button__item-welcome 
              a.auth-button__link(href="./work.html") Мои работы
            li.buttons__item.button__item-welcome
              a.auth-button__link(href="./about.html") Обо мне
            li.buttons__item.button__item-welcome
              a.auth-button__link(href="./blog.html") Блог            
        .welcome-block.auth-block__welcome.back
            .auth-block
              .block-subtitle.auth-block__title Авторизуйтесь
              form.auth-block__form
                .auth-login-pass
                  .auth__field
                    .auth__field-pic
                      svg(class="auth__field-img")
                        use(xlink:href=require(`../img/sprite/login.svg`).url)                   
                    input.auth-edit.edit-login(placeholder="Логин")
                  .auth__field
                    .auth__field-pic                  
                      svg(class="auth__field-img")
                        use(xlink:href=require(`../img/sprite/password.svg`).url)                    
                    input.auth-edit.edit-pass(placeholder="Пароль")
                .captcha
                    label.checkbox(for="check1")
                      input.checkbox-input(type="checkbox" id="check1")
                      span.checkbox__styled
                        svg(class="svg__checked")
                          use(xlink:href=require(`../img/sprite/checked.svg`).url) 
                      span.checkbox-text Я человек
                    .areYouHuman-text Вы точно не робот?                
                    .areYouHuman-select
                      label.captcha-radio
                        input.auth-block__human-question(type="radio" name="human")
                        span.radio__styled
                        .captcha__radio-text Да
                      label.captcha-radio
                        input.auth-block__human-question(type="radio" name="human")
                        span.radio__styled                        
                        .captcha__radio-text Не уверен
            ul.buttons.buttons__welcome
              li.buttons__item.button__item-logon
                a.auth-button__link.flip_element На главную
              li.buttons__item.button__item-logon 
                a.auth-button__link Войти
              
    .footer-text.footer-welcome-text (c) Петя Отверткин